<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    {{!-- {{>navbar}} --}}
    <div class="form">
        <div class="main">
    <form action="/index" method="post">
        <label>Login</label>

    <input type="password" placeholder="John" name="password">
  
    <input type="text" placeholder="9087634567" name="MobileNumber">
   
    <input type="email" placeholder="John23@gmail.com" name="email">
   
        <button type="submit">Login</button> 
        <a class="Sup" href="signup">Sign Up</a>


</form>
</div>
</div>
</body>
<script src="app.js"></script>
<script src="login.cjs"></script>
</html>