<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="saboutus.css" />
    <title>About us</title>
</head>

<body>

    <nav class="navbar">
        <div class="logo">DispenseTheMeds</div>


        <ul class="nav-links">

            <div class="menu">

                <li><a href="stud-home">Home</a></li>
                <li><a href="ssample">Precription</a></li>
                <li><a href="ssample">Lab reports</a></li>
                <li><a href="saboutus">About</a></li>
                <li class="services">
                    <a href="">Welcome</a>
                    <ul class="dropdown">
                        <li class="dd1"><a href="sprofile">My Profile</a></li>
                        <li class="dd2"><a href="login">Logout</a></li>
                    </ul>

                </li>

            </div>

        </ul>

    </nav>

    <div class="details">
        <p class="para1">The dispensary is the heartbeat of the institute which provide Treatment for different diseases
            and also
            provide first aid to the injured, and also arranges different awareness camp Like cardiac camp, BMD camp
            etc. Different updates are been circulated for prevention from the seasonal disease.<br>
            <br>All the National Programmes such as Pulse polio, and Immunization programmes are organized with the help
            of
            Local health Authorities.<br>
            <br>Dispensary is also equipped with the Pathological lab to carry out different investigations. In
            case of
            medical emergency, the ambulance van is available 24 hours for taking patient(s) to other hospitals for the
            required treatment.
        </p>
        <div class="contact">
            <h2 class="disp">Dispensary Details</h2>
            <h3 class="disp">Contact No.</h3>
            <p>xxxxxxxxxx</p>
            <h3 class="disp">Email-Id</h3>
            <p>dispensary.nitj.ac.in</p>
            <h3 class="disp">Address</h3>
            <p>Dispensary,near girls hostel</p>
            <h3 class="disp">Ambulance Emergency Number</h3>
            <p>xxxxxxxxxx</p>
            <h2 class="disp">Contact Us</h2>
            <h3 class="disp">For technical issues</h3>
            <p>technicalteam.nitj.ac.in</p>
        </div>


    </div>
</body>

</html>