<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stud-home.css" />
    <title>Student Home</title>
</head>

<body>

    <nav class="navbar">
        <div class="logo">DispenseTheMeds</div>


        <ul class="nav-links">

            <div class="menu">

                <li><a href="stud-home">Home</a></li>
                <li><a href="ssample">Precription</a></li>
                <li><a href="ssample">Lab reports</a></li>
                <li><a href="saboutus">About</a></li>
                <li class="services">
                    <a href="">Welcome</a> 
                    <ul class="dropdown">
                        <li><a href="sprofile">My Profile</a></li>
                        <li><a href="login">Logout</a></li>
                    </ul>

                </li>

            </div>

        </ul>

    </nav>

</body>

</html>